<div class="col-md-4">
    <div class="well bg-primary">
        <h5 class="text-uppercase"></h5>
        <ul class="media-list">
            <li class="media">
            <div class="media-body">
                <h4 class="media-heading">
                <a href="Web-Designer.html">@Html.Sitecore().Field("heading")</a>
                </h4>
                <p>@Html.Sitecore().Field("Intro")</p>
            </div>
            </li>
        </ul>
        <a href="Web-Designer.html" class="btn btn-default">
        Read more
        </a>
    </div>   
</div>