<!-- [Page Header] -->
        <header class="header-static">  
				<nav class="navbar navbar-default navbar-static" id="mainNavbar">
				  <div class="container">
					<!-- [Company Logo] -->
					<div class="navbar-left">				  
						<a class="navbar-brand" href="careers.html">
						  <span class="logo">
							<img src="Images/Logo_400x60.png" alt="The Adventure Company" width="400" height="60" />
						  </span>
						</a>
					</div>
					<!-- [/Company Logo] -->
					<!-- [Main Navigation] -->
					<div class="navbar-brand">
						<div class="collapse navbar-collapse" id="siteNavbar">
						  <ul class="nav navbar-nav">
								<li class="">
									<a class="text-uppercase" href="Careers.html">
									  Home
									</a>
								</li>
						  </ul>
						</div>
					</div>
					<!-- [/Main Navigation] -->
				  </div>
				</nav>
        </header>
		<!-- [/Page Header] -->